/* 건너뛰기 링크 */
#skipNav{
  position: absolute;
  left: -9999em;
}
#skipNav:focus{
  left: 35%;
  margin: 3px 0 0 13em;
  padding: 5px 15px;
  color: #fff;
  background: #000;
  outline: 0;
  z-index: 10;
}

.header{
  position: relative;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 0 30px;
  width: 940px;
  margin: 0 auto;
  height: 110px;


}
.logo{
  position: absolute;
  top: 20px;
  left: 50px;
}
.infoLink{
  text-align: right;
}
.infoLink li{
 display: inline-block;
}
.infoLink a{
  display: inline-block;
  padding: 8px 0 7px 3px;
}
/* 메인메뉴 */
.main-menu{
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  color: #fff;
  background: #ed602d;
  background: linear-gradient(
    to bottom,
    #f4a52e 0%,
    #ed602d 35%,
    #ed602d 70%,
    #f4a52e 100%
  );
  box-shadow: 0 -2px 0 0 #000;
  height: 50px;
  padding-left: 225px;
}
.main-menu li, .main-menu a{
  display: inline-block;
}
.main-menu ul{
  display: none;
  /* 삭제 예정 */
}
.main-menu > li > button {
font-size: 14px;
background: transparent;
border-style: none;
letter-spacing: 1px;
padding: 15px 20px 14px;
font-weight: 700;

color: #fff;
border-left:1px solid #fff;
text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}