:root {
  --base-width: 940px;
  --anchor-space: 10px;
  --accent-color: #ed602d;
  --point-color: #f4a52e;
}

/* 건너뛰기 링크 */
#skipNav{
  position: absolute;
  left: -9999em;
}
#skipNav:focus{
  left: 35%;
  margin: 3px 0 0 13em;
  padding: 5px 15px;
  color: #fff;
  background: #000;
  outline: 0;
  z-index: 10;
}

.header{
  position: relative;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 0 30px;
  width: 940px;
  margin: 0 auto;
  height: 110px;
  

}
.logo{
  position: absolute;
  top: 37px;
  left: 60px;
}
.infoLink{
  text-align: right;
}
.infoLink li{
 display: inline-block;
}
.infoLink a{
  display: inline-block;
  padding: 8px 0 7px 3px;

}